@import "tailwindcss";

:root {
    --primary: #333333; /* Dark gray for primary text/elements */
    --primary-rgb: 51, 51, 51;

    --primary-dark: #1A1A1A; /* Even darker gray */
    --primary-dark-rgb: 26, 26, 26;

    --primary-medium: #f3f3f3; /* Medium gray for secondary text/elements */
    --primary-medium-rgb: 243, 243, 243;

    --primary-light: #F8F8F8; /* Very light gray/off-white for backgrounds */
    --primary-light-rgb: 248, 248, 248;

    --primary-contrast: #000000; /* Black for strong contrast if needed */
    --primary-contrast-rgb: 0, 0, 0;

    --font-family: 'Roboto', sans-serif;

    --division-border: 2px solid rgba(var(--primary-rgb), 0.15);

    --dark-selected: oklch(0.373 0.034 259.733);
    --dark-unselected: oklch(0.707 0.022 261.325);
    --dark-default: oklch(0.551 0.027 264.364);
    --gray-light: oklch(0.929 0.013 255.508);

    --red-error: oklch(57.7% 0.245 27.325);

}

@theme {
    --color-primary: var(--primary); /* Dark gray for primary text/elements */
    --color-primary-dark: var(--primary-dark); /* Even darker gray */
    --color-primary-medium: var(--primary-medium); /* Medium gray for secondary text/elements */
    --color-primary-light: var(--primary-light); /* Very light gray/off-white for backgrounds */
    --color-primary-contrast: var(--primary-contrast); /* Black for strong contrast if needed */
    --color-gray-selected: var(--dark-selected);
    --color-gray-unselected: var(--dark-unselected);
    --color-gray-default: var(--dark-default);
    --color-gray-light: var(--gray-light);
    --color-red-error: var(--red-error);
}

@layer utilities {
    .range-slider::-webkit-slider-thumb {
        @apply bg-primary w-4 h-4 rounded-full cursor-pointer;
        -webkit-appearance: none;
        margin-top: -4px;
    }

    .range-slider::-moz-range-thumb {
        @apply bg-primary w-4 h-4 rounded-full cursor-pointer;
        border: none;
        -webkit-appearance: none;
    }

    .range-slider {
        @apply w-full h-2 bg-gray-300 rounded-lg;
        -webkit-appearance: none;
    }

    .range-slider::-webkit-slider-runnable-track {
        @apply h-2 rounded bg-gray-300;
    }

    .range-slider::-moz-range-track {
        @apply h-2 rounded bg-gray-300;
    }

    select {
        @apply py-2 px-3
    }

    select option {
        @apply py-1 px-2 bg-primary-light;
        padding: 5px;
    }

    select option:checked {
        @apply bg-primary-medium text-primary;
    }

    .hover-scrollbar {
        /* Standard properties for Firefox */
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
        transition: scrollbar-color 0.3s ease;
        scrollbar-gutter: stable both-edges;

        &::-webkit-scrollbar {
            height: 6px;
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
            border-radius: 10px;
            transition: background-color 0.3s ease;
        }

        &:hover {
            scrollbar-color: var(--color-gray-unselected) transparent; /* Firefox */

            &::-webkit-scrollbar-thumb {
                background-color: var(--color-gray-unselected); /* Webkit */
            }
        }
    }
}

* {
    font-family: var(--font-family);
}

.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

